<!DOCTYPE html>
<html lang='zh-cn'>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="renderer" content="webkit"> 
<title>RMS-{$page_title}</title>
       
<script>var config={"webRoot":"\/","cookieLife":30,"requestType":"GET","pathType":"clean","requestFix":"-","moduleVar":"m","methodVar":"f","viewVar":"t","defaultView":"html","themeRoot":"\/theme\/","currentModule":"admin","currentMethod":"index","clientLang":"zh-cn","requiredFields":"","router":"\/index.php","timeout":30000};
var lang={"submitting":"\\u7a0d\\u5019...","save":"\\u4fdd\\u5b58","timeout":"\\u8fde\\u63a5\\u8d85\\u65f6\\uff0c\\u8bf7\\u68c0\\u67e5\\u7f51\\u7edc\\u73af\\u5883\\uff0c\\u6216\\u91cd\\u8bd5\\uff01"};
</script>

<script src='__PUBLIC__/Js/all.js?v=7.2'></script>
<link rel='stylesheet' href='__PUBLIC__/theme/default/zh-cn.default.css?v=7.2' type='text/css' media='screen' />
<link rel='stylesheet' href='__PUBLIC__/Css/page.css?v=7.2' type='text/css' media='screen' />

<script type="text/javascript" src="__PUBLIC__/Js/marquee.js?v=2.1.3"></script>

<script type="text/javascript" src="__PUBLIC__/Js/fancyBox/source/jquery.fancybox.js?v=2.1.3"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/fancyBox/source/jquery.fancybox.css?v=2.1.2" media="screen" />


<style type="text/css">
#tbl2{border:1px solid #E6E6E6;border-collapse:collapse;}
#tbl2 th,#tbl2 td{padding:5px 5px;}
#tbl2 th{background:#E6E6E6;}
.w-no{width:45px;}
.w-orderno{width:140px;}
.w-img{width:100px;}
.w-time{width:80px;}
.w-size{width:360px;}
.w-operat{width:150px;}
.padding-10{padding:10px;}
.padding-15{padding:15px;}
.padding-20{padding:20px;}
.outer .main .table tr > th:first-child, .outer .main .table tr > td:first-child{
padding:15px;
}
#notices{margin-left:10px;}
#notices li a:link,#notices li a:visited,#notices li a:hover{font-weight:bold;color:red;}
.table-article{width:1200px;text-align:center;border:1px solid #ccc;word-break:break-all;word-wrap:break-word;}
.break-word{table-layout:fixed;word-break: normal;word-wrap:break-word;}
</style>
<script language="javascript">
function addTableRow(){
	var tmp_tr = $('#rowBase').clone();
	tmp_tr.find('td:last').html('<input type="button" onclick="removeTableRow(this)" value="删除该行" />');
	tmp_tr.find('input[name="attr_ids[]"]').val('');
	
	$('#trTotal').before(tmp_tr);
}
function removeTableRow(obj){
	var tmp_tr = $(obj).parents('tr:first');
	
	var clone_input = tmp_tr.find('input[name="attr_ids[]"]').clone();
	clone_input.attr('name','attr_ids_rm[]');
	$(obj).parents('form:first').prepend(clone_input);
	
	tmp_tr.remove();
}

$(function(){
	bgclock = $('#poweredby').get(0);
	clockon(bgclock);
	//提交表单后，错误退回原页面，修正按钮不可用状态
	$('.btn-submit').removeAttr('disabled');
	
	$(".form-datetime").datetimepicker(
	{
	    weekStart: 1,
	    todayBtn:  1,
	    autoclose: 1,
	    todayHighlight: 1,
	    startView: 2,
	    forceParse: 0,
	    format: "yyyy-mm-dd"
	});
	$(".form-date").datetimepicker(
			{
				language:  "zh-CN",
			    weekStart: 1,
			    todayBtn:  1,
			    autoclose: 1,
			    todayHighlight: 1,
			    startView: 2,
			    minView: 2,
			    forceParse: 0,
			    format: "yyyy-mm-dd"
	});
	
	 $("a[rel=group]").fancybox({ 
	        'titlePosition' : 'over', 
	        'cyclic'        : false, 
	        'titleFormat'    : function(title, currentArray, currentIndex, currentOpts) { 
	                    return '<span id="fancybox-title-over">' + (currentIndex + 1) + 
	 ' / ' + currentArray.length + (title.length ? '   ' + title : '') + '</span>'; 
	                } 
	  }); 

	 $('#notices').marquee({
         auto: true,
         interval: 3000,
         showNum: 1,
         stepLen: 1,
         type: 'vertical'
     });
})

function clockon(bgclock)
{
    var now = new Date();
    var year = now.getFullYear();
    var month = now.getMonth();
    var date = now.getDate();
    var day = now.getDay();
    var hour = now.getHours();
    var minu = now.getMinutes();
    var sec = now.getSeconds();
    var week;
    month = month+1;
    if(month<10)month="0"+month;
    if(date<10)date="0"+date;
    if(hour<10)hour="0"+hour;
    if(minu<10)minu="0"+minu;
    if(sec<10)sec="0"+sec;
    var arr_week = new Array("星期日","星期一","星期二","星期三","星期四","星期五","星期六");
    week = arr_week[day];
    var time = "";
    time = year+"年"+month+"月"+date+"日  "+week+"  "+hour+":"+minu+":"+sec;
    bgclock.innerHTML="["+time+"]";
    var timer = setTimeout("clockon(bgclock)",1000);
            
}
</script>

</head>
<body class="m-admin-index">
     
<header id='header'>

  <div id='topbar'>
    <div class='pull-right' id='topnav'>
    	<div class='dropdown' id='userMenu'>
	    	<a href='javascript:;' data-toggle='dropdown'><i class='icon-user'></i> {$Think.session.nickname} <span class='caret'></span></a>
	    	<ul class='dropdown-menu'>
			<li><a href='__MODULE__/Users/updatePasswd/id/{$Think.session.user_id}' target='' class='iframe' data-width='500'>更改密码</a></li>
			</ul>
		</div>
		<a href='__MODULE__/Users/logout' >退出</a>
		
	</div>
    <h5 id='companyname'>{$system_name}    </h5>
  </div>
  
  <nav id='mainmenu'>
    <ul class='nav'>
		<li <eq name="CONTROLLER_NAME" value="Retailer" >class='active'</eq> ><a href='__MODULE__/Retailer/myGoods'  id='menumy'><i class="icon-home"></i><span> 分销商产品</span></a></li>
		<li <eq name="CONTROLLER_NAME" value="Soldrecords" >class='active'</eq> ><a href='__MODULE__/Soldrecords'  ><span> 售出管理</span></a></li>
		<li <eq name="CONTROLLER_NAME" value="Retailerapply" >class='active'</eq> ><a  href='__MODULE__/retailerapply'  id='menuproduct'>预订退订申请</a></li>
		<li <eq name="CONTROLLER_NAME" value="Goods" >class='active'</eq> ><a href='__MODULE__/goods'  id='menuproject'>仓库管理</a></li>
		<li <eq name="CONTROLLER_NAME" value="Plans" >class='active'</eq> ><a href='__MODULE__/plans'  id='menuqa'>生产计划单</a></li>
		<li <eq name="CONTROLLER_NAME" value="Finance" >class='active'</eq> ><a href='__MODULE__/Finance/index'  id='menureport'>财务管理</a></li>
		<li <eq name="CONTROLLER_NAME" value="Users" >class='active'</eq> ><a href='__MODULE__/Users/index'  id='menudoc'>用户管理</a></li>
		<li <eq name="CONTROLLER_NAME" value="Report" >class='active'</eq> ><a href='__MODULE__/Report/index'  id='menudoc'>统计报表</a></li>
		<li <eq name="CONTROLLER_NAME" value="Articles" >class='active'</eq> ><a href='__MODULE__/Articles/index'  id='menudoc'>通知</a></li>
	</ul>
	
  </nav>
  
  <nav id="modulemenu">
    <ul class='nav'>
		<li><span id="myname"><i class="icon-user"></i> {$Think.session.nickname}&nbsp;<i class="icon-angle-right"></i>&nbsp;</span></li>
		
		<volist name="submenus" id="menu">
		
		<li  <if condition="$menu.selected eq 1">class='active'</if>  ><a href='{$menu.url}' target='_self' >{$menu.text}</a></li>
		
		</volist>
		
		
	</ul>
  </nav>
</header>


    