<div class="main">

<table  class='table table-condensed table-hover table-striped tablesorter table-fixed table-article' align="center">
   <thead>
    <tr class='colhead'>
	        <th class=""><h1>{$title}</h1></th>
	</tr>
	</thead>
	
	<tbody>
    	
	    <tr>
	    
	        <td class="padding-15 break-word text-left">
	        <div class="text-right">
	        	发布时间：{$add_time}
	        </div>
	        <div>
	        {$content|html_entity_decode}
	        </div>
	        </td>
	     
	    </tr>
	  
    
    </tbody>
    
    
    </table>
    
    </div>