<include file="./app/Home/View/header.html"  title="{$title}"  />
<tagLib name="html"/>
    
     <a href="__URL__/index">{$title_index}</a>
     
               <FORM method="post" action="__URL__/update">
               <table>
               
               <tr>
               	<td>用户名：</td><td><input type="text" name="retailer_name" value="{$vo.retailer_name}" /></td>
               </tr>
               <tr>
               	<td>登陆密码：</td><td><input type="password" name="passwd" value="" /></td>
               </tr>
			   <td>角色：</td><td>
<html:select name="role_id" options="roles"  selected='vo[role_id]' first="请选择用户角色" /> 
				</td>
                <tr>
               	<td>用户等级：</td><td>
				<html:select options='levels' name="level" selected='vo[level]' first="请选择等级" />
				</td>
               </tr>
               
                <tr>
               	<td>备注：</td><td><textarea name="memo" cols="50" rows="3">{$vo.memo}</textarea></td>
               </tr>
               
               <tr>
               	<td colspan = 2>
               	 <INPUT type="hidden" name="id" value="{$vo.id}">
               	<INPUT type="submit" value="提交">&nbsp;&nbsp;&nbsp;&nbsp;
               	<INPUT type="reset" value="重置">
               	</td>
               </tr>
               
               </table>
    
    </FORM>
     </body>
    </html>