
<div class='container mw-800px'>

 
 
  <div id='titlebar'>
    <div class='heading'>
      <span class='prefix' title='USER'><empty name = "vo[id]">添加新用户<else />编辑用户</empty></span>
    </div>
  </div>	
	
	<FORM method="post" class="form-condensed" id="frm" <empty name='vo.id'> onsubmit="return checkPasswd();" </empty> action="__URL__/add">
	
	<table align='center' class='table table-form'>
		<tr>
        <th class='w-90px'>用户名：</th>
        <td class='w-p40'><input type="text" name="retailer_name" value="{$vo.retailer_name}" /></td><td></td><td></td>
       </tr>
      
      <empty name = "vo[id]">
      <tr>
        <th class='w-90px'>登陆密码：</th>
        <td class='w-p40'><input type="password" id="passwd" name="passwd" value="" /></td><td></td><td></td>
       </tr>
      </empty> 
       
       
       <tr>
        <th class='w-90px'>角色：</th>
        <td class='w-p40'><html:select name="role_id" options="roleNames" style="form-control" selected="vo[role_id]" first="请选择用户角色" /></td><td></td><td></td>
       </tr>
       
       
       <tr>
        <th class='w-90px'>用户等级：</th>
        <td class='w-p40'><html:select options='levels' name="level" style="form-control"  selected='vo[level]' first="请选择等级" /></td><td></td><td></td>
       </tr>
       
      
       
       
       <tr>
        <th class='w-90px'>备注：</th>
        <td class='w-p40'><textarea name="memo" cols="50" rows="3">{$vo.memo}</textarea></td><td></td><td></td>
       </tr>
       
       <tr><td colspan='2' class='text-center'>
       			<INPUT type="hidden" name="id" value="{$vo.id}">
               	<button type='submit' id='submit' class='btn btn-submit btn-primary'>保存</button>
               	<button type='reset' id='reset' class='btn btn-reset '>重置</button>
            
       </td></tr>
       
	</table>
	
	</FORM>
	
	
	
</div>
             
              
    <script language="javascript">
	function checkPasswd(){
		var val = $.trim($('#passwd').val());
				if(val.length == 0){
					alert('创建用户密码不能为空');
					return false;
				}
				
				return true;
	}
	
		
	</script>
    
